<br><br>
<center><h1 class="page_title">about</h1></center>
<br>
<center> <%= image_tag("face_shot.png", :id => "about_image") %> </center>
<br>
<div class="about_text">
	<center>
		<p>Hello!<br><br><br>My name is Jonathan Yan, welcome to my blog.  I was born and raised in Southern California and am now currently a sophomore at Stanford University exploring computer science and product design.  I enjoy taking pictures, watching movies, and building things.  My most recent obsessions are film photography and bike making.  I will use this space as a place to share my thoughts and the things I am working on.  Previously I have had the honor of working with incredible companies and organizations like <%= link_to "TEDxConejo", "http://tedxconejo.com/", :class => "about_link", :target => "_blank" %>, <%=link_to "TruantToday", "http://truanttoday.com", :class => "about_link", :target => "_blank" %> and most recently, <%=link_to "Sension", "http://sension.co/", :class => "about_link", :target => "_blank" %>.  If you're ever in the Palo Alto area, let's grab some coffee!<br><br>Thank's for visiting!</p> 
		<br>
		<hr style="width:98%; opacity: .6;">
		<i style="font-size: 12px;">Stanford '16.  Follow Jonathan <%=link_to "@jonjyan", "http://twitter.com/jonjyan", :class=> "about_link", :target => "blank" %>.</i>
	</center>
</div>