<br><br>
<center><h1 class="page_title">projects</h1></center>
<br><br>


<div id="projects_list">
	<center>
		<%= image_tag("photography_icon.png", height: 100) %>
		<br>
		<h2 class="list_title">Photography</h2>
		<%= link_to :artstudi_170_final_project, :class => "list_element" do%><span class="thicker">ARTSTUDI 170</span>: Final Project
		<% end %>
		<br><br><br><br><br>

		<%= image_tag("development_icon.png", height: 100) %>
		<br>
		<h2 class="list_title">Development</h2>
		<span><i style="color: #A8A8A8">Coming Soon</i></span>
		<br><br><br><br><br>

		<%= image_tag("stanford_icon.gif", height: 100) %>
		<br>
		<h2 class="list_title">Stanford</h2>
		<%= link_to :artstudi_170_final_project, :class => "list_element" do%><span class="thicker">ASES</span>: Bootcamp Pitch
		<% end %>
		<br><br><br><br><br>



	</center>

</div>