<div id="nav_bar">
	<center>
		<table id="nav_table">
			<tr>
				<td class="nav_item">
					<%= link_to "blog", root_path, :class => "navigation_link" %>
				</td>
				<!-- <td class="nav_item">
					<%= link_to "work", work_path, :class => "navigation_link" %>
				</td> -->
				<td class="nav_item">
					<%= link_to "projects", projects_path, :class => "navigation_link" %>
				</td>
				<td class="nav_item">
					<%= link_to "about", about_path, :class => "navigation_link" %>
				</td>
				<td class="nav_item">
					<%= link_to "contact", contact_path, :class => "navigation_link" %>
				</td>
			</tr>
		</table>
	</center>
</div>